@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEncomiendaModel
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Descripción</th>
      <th>Peso</th>
      <th>Tipo</th>
      <th>Presentación</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var encomienda in Model.Encomiendas)
    {
        <tr>
            <td>@encomienda.id</td>
            <td>@encomienda.descripcion</td>
            <td>@encomienda.peso</td>
            <td>@encomienda.tipo</td>
            <td>@encomienda.presentacion</td>
            <td>
<<<<<<< HEAD
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-info" asp-page="./Details" asp-route-encomiendaId="@encomienda.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-encomiendaId="@encomienda.id">Editar</a>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal_@encomienda.id">
                    Eliminar
                  </button>
 
=======
              <a class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-info" asp-page="./Details" asp-route-encomiendaId="@encomienda.id"><i class="fas fa-adjust"></i>Ver</a>
                <a class="btn btn-info" asp-page="./Edit" asp-route-encomiendaId="@encomienda.id">Editar</a>
                
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal_@encomienda.id">
                    Eliminar
                  </button>

>>>>>>> 8af84f49efcb847559b595e063b7763ed3141392
                  <div class="modal fade" id="exampleModal_@encomienda.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Eliminar Registro</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
<<<<<<< HEAD
                        </div>
=======
                        
>>>>>>> 8af84f49efcb847559b595e063b7763ed3141392
                        <div class="modal-body">
                          ¿Esta seguro que desea eliminar la Encomienda: @encomienda.descripcion ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <form method="POST">
                            <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@encomienda.id">
                            <button type="submit"class="btn btn-danger" href="">Eliminar</button>
                        </form>                         
                       </div>
                      </div>
                    </div>
                  </div>
<<<<<<< HEAD
             </div>
            </td>
=======
              </div>        
          </td>
>>>>>>> 8af84f49efcb847559b595e063b7763ed3141392
        </tr>
    }

  </tbody>
</table>