@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEncomiendaModel
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Descripción</th>
      <th>Peso</th>
      <th>Tipo</th>
      <th>Presentación</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var encomienda in Model.Encomiendas)
    {
        <tr>
            <td>@encomienda.id</td>
            <td>@encomienda.descripcion</td>
            <td>@encomienda.peso</td>
            <td>@encomienda.tipo</td>
            <td>@encomienda.presentacion</td>
            <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-info" asp-page="./Details" asp-route-encomiendaId="@encomienda.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-encomiendaId="@encomienda.id">Editar</a>
              <form method="POST">
                <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@encomienda.id">
                <button type="submit"class="btn btn-danger" href="">Eliminar</button>
              </form>
             </div>
            </td>
        </tr>
    }
 
  </tbody>
</table>