@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsServicioModel
@{
    var servicio = Model.Servicio;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @servicio.id</li>
  <li class="list-group-item"> <b>Origen: </b> @servicio.origen</li>
  <li class="list-group-item"> <b>Destino: </b> @servicio.destino</li>
  <li class="list-group-item"><b>Fecha: </b> @servicio.fecha</li>
  <li class="list-group-item"><b>Hora: </b> @servicio.hora</li>
  <li class="list-group-item"><b>Encomienda: </b> @servicio.encomienda</li>
</ul>  