@page
@model ProyectoCiclo3.App.Frontend.Pages.ListServicioModel
@{
}
 
<h1>Listado de Servicio</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Encomienda</th>
      <th>Acciones</th>
    </tr>
  </thead>
    @foreach (var servicio in Model.Servicios)
    {
        <tr>
            <td>@servicio.id</td>
            <td>@servicio.origen.nombre @servicio.origen.apellidos</td>
            <td>@servicio.destino.nombre @servicio.destino.apellidos</td>
            <td>@servicio.fecha</td>
            <td>@servicio.hora</td>
            <td>@servicio.encomienda.descripcion</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-servicioId="@servicio.id">Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-servicioId="@servicio.id">Editar</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal_@servicio.id">
                    Eliminar
                  </button>

                  <div class="modal fade" id="exampleModal_@servicio.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Eliminar Registro</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          ¿Esta seguro que desea eliminar el Servicio: @servicio.origen.nombre @servicio.origen.apellidos - @servicio.destino.nombre @servicio.destino.apellidos?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <form method="POST">
                            <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@servicio.id">
                            <button type="submit"class="btn btn-danger" href="">Eliminar</button>
                        </form>                         
                       </div>
                      </div>
                    </div>
                  </div>
              </td>
        </tr>
    }
</table>