@page
@model ProyectoCiclo3.App.Frontend.Pages.ListServicioModel
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Encomienda</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var servicio in Model.Servicios)
    {
        <tr>
            <td>@servicio.id</td>
            <td>@servicio.origen</td>
            <td>@servicio.destino</td>
            <td>@servicio.fecha</td>
            <td>@servicio.hora</td>
            <td>@servicio.encomienda</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-servicioId="@servicio.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-servicioId="@servicio.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
            </td>
        </tr>
    }

  </tbody>
</table>