@page
@model ProyectoCiclo3.App.Frontend.Pages.ListUsuarioModel
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var usuario in Model.Usuarios)
    {
        <tr>
            <td>@usuario.id</td>
            <td>@usuario.nombre</td>
            <td>@usuario.apellidos</td>
            <td>@usuario.direccion</td>
            <td>@usuario.telefono</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
               <a class="btn btn-info" asp-page="./Details" asp-route-usuarioId="@usuario.id"><i class="fas fa-adjust"></i>Ver</a>
               <a class="btn btn-info" asp-page="./Edit" asp-route-usuarioId="@usuario.id">Editar</a>
                <form method="POST">
                 <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@usuario.id">
                 <button type="submit"class="btn btn-danger" href="">Eliminar</button>
                </form>
              </div>
            </td>
        </tr>
    }

  </tbody>
</table>